@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;1,300;1,500&display=swap');

:root{
--fontblack: #000000;
--fontwithe: #ffffff;
--fontred: #ff0000;
--fontgray:#0f0f0f;
--fonturbanist: "Urbanist", Arial, Sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}
 p{
     margin: 15px 0px 15px 0px;
    text-indent: 30px;
    line-height: 1em;
 }


img{
    width: 100%;
}

body{
    background-color: #0f0f0f;
    color: #ffff;
    font-family: "Urbanist";  
}

header{
    min-height: 150px;
    background-image:linear-gradient(var(--fontgray), var(--fontblack));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.644);
    text-align: center;
    padding-top: 30px
}

header h1{
    color: #ff0000;
    margin-top: 30px;
    margin-bottom: 20px;
    
    
}

header p{
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

nav {
    background-color: var(--fontblack);
    color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.644);
    text-align: center;
    padding: 10px;
}

nav > a{
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover{
    background-color: var(--fontgray);
    color: red;
}
main{
    padding: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.644);
    margin-bottom: 30px;
    margin-bottom: 0%;
    background-color: var(--fontblack);
    
}
main h1{
    color: #ffffff;
    background-image: linear-gradient(to right, var(--fontred), transparent);
    margin-bottom: 20px;

}

footer{
    margin: 0%;
    background-image: linear-gradient(to right, var(--fontred), transparent);
}

footer h1{
    color: #ffffff;
    
}
footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.644);
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 0%;
}
 footer p a{
     text-decoration: none;
     color: #ffffff;
     background-image: linear-gradient(to right, var(--fontred), transparent);
 }